.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.list-group .list-group-item:hover{
    background-color: rgb(70, 70, 70) !important;
}

@media (max-width: 768px) {
    .listM {
        display: none;
    }


}


@media (max-width: 992px) {
    .noneMB {
        display: none;
    }

    .barra {
        display: none;
        
    }

 
     
}

@media (min-width: 993px) {
   
  .barra {
    display: block;
    color: rgb(78, 78, 78);
  }

  .noneLG {
    display: none;
  }

  
}

.navB {
    display: flex;
    justify-content: flex-end;
}

